addons:
  apt:
    packages:
      - expect-dev

language: python

python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"

deploy:
  provider: pypi
  user: laslabs
  password:
    secure: "UOFAfNJj1NNP3qI73IzrTncleyxSHwnYVpRe5vgAzlg0ojZWFTPRzac9JxKOvZPViuPnS+v8/UOequEz7sEOwLnYQIZcW1k4TAYWSNeAhjn7MpcboaSsujgGE1eMYWor3pgnU6f0EvBp0bhgfxciwHhjfU6PSr2CAfmJDjT02G1lsk8N94gTSYNwy+FV3QRPWlsB+ZyGGoUwf+Ap0gh7U3EaFSeVZ8P+y8oP99A1Zyz4dd0GjW2/5zj4eXm6boDUGt8sPAATf0Lni3xMfE/T+43MfMYRj1Yw6Ho7+mgYLL+RpgrY7pHA3pfOTomoz11yHnNYZq3sCKjDclspq64XSryICGOYC9hDT5vz+GbFzbpcnimbitdhO8STLPK9O0AMbrbanPaHVtNpC7dA+ZKpXtkD2UYN/GUVcc//nDCkGs6T1bFHFV9NUKfEqLr6LpS6Yb9MLc0g+x3b1+632FfoZ5+8uxM+NKHgh6uos9DPiLx8ZOCfgqVUqXexJq21bFuELqMkHZEu01Pe2MIB5K5ol3KDETYTYJJq4XF6+kF4Ge64LV+iRCP9WVxnX8OtovYxE5/56lB9S7Qc57Y1PpVupUGCo67wVE0UP7LHcs7qfEKmS/ulr2ARYNBVO0vfWrWm+9EnP/HNwqok4cna2/voVgoXNFeAj4u8+v2TfvKfIGg="  distributions: "sdist bdist_wheel"
  skip_upload_docs: Utrue
  on:
    repo: oca/oca-decorators
    branch: master
    tags: true

env:
  global:
    - PROJECT="oca-decorators"
    - ODOO="10.0"
  matrix:
    - TESTS="1"
    - LINT_CHECK="1"
    - DOCS="1"
    - PYPI="1"

install:
  # Odoo not currently required; save the install until it is.
  # - pip install -r "https://raw.githubusercontent.com/odoo/odoo/${ODOO}/requirements.txt"
  # - pip install "https://github.com/odoo/odoo/archive/${ODOO}.tar.gz"
  - git clone --depth=1 https://github.com/LasLabs/python-quality-tools.git ${HOME}/python-quality-tools
  - export PATH=${HOME}/python-quality-tools/travis:${PATH}
  - travis_install

script:
  - travis_run

after_success:
  - travis_after_success
